@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

.parent{
  background-color: #352f5b;
} 

.container{
  max-width: 450px;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, .2);
}

input[type=text]::placeholder {
  color: #ccc; /* Placeholder text color */
}

li.list-group-item{
  background-color: #423a6f;
  color: #F8F9FA;
}

.delete{
  cursor: pointer;
}

label.add{
  margin-bottom: 15px;
}

.filtred{
  display: none !important;
}